.RcPickerRect {
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    45deg,
    hsla(180, 0%, 100%, 1) 0%,
    hsla(180, 100%, 50%, 1) 100%
  );
  touch-action: none;
}

.RcPickerRect :first-child {
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
}

.RcPickerRect .cursor {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  border: 2px solid #fff;
  outline: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  top: -6px;
  left: -6px;
  pointer-events: none;
  touch-action: none;
}

.RcPickerRect .cursor :first-child {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid #000;
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  touch-action: none;
}
