.RcPickerCircle {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    hsla(180, 0%, 100%, 1) 0%,
    hsla(180, 100%, 50%, 1) 100%
  );
}

.RcPickerCircle :first-child {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  background: #222;
  pointer-events: none;
}

.RcPickerCircle .cursor {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  border: 2px solid #fff;
  outline: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  top: 49%;
  left: 1%;
  pointer-events: none;
}

.RcPickerCircle .cursor :first-child {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid #000;
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
}
