html {
    font-family: "Heebo", sans-serif;
    font-size: 12pt;
    background-color: aqua;
    color: #222;
}

body {
    margin: 1em;
}

#app div > header h1 {
    font-size: 2.5rem;
    margin: 0.5em 0 0;
    font-weight: 900;
    line-height: 1em;
}

#app div > header p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    line-height: 1em;
}

main {
    background: #fff;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    padding: 40px;
    border-radius: 8px;
}

main > span {
    display: inline-block;
    position: absolute;
    align-self: flex-start;
    width: auto;
    padding: 5px 30px;
    transform: rotate(-30deg) translate(-50px, -70px);
    text-align: center;
    line-height: 1em;
    font-weight: 700;
    background-color: #fd0;
    color: #222;
    opacity: 0.9;
}

main > section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main > section > h1 {
    width: 100%;
}

main > section > div {
    padding: 30px;
    background: #222;
    align-self: flex-start
}

main > section > p {
    width: 200px;
    font-size: 0.85em;
    border-left: 3px double #222;
    padding-left: 10px;
}
